/* declare variables */
:root{
    --coral : #F05454;
    --light-grey : #F5F5F5;
    --grey-blue : #30475E;
    --navy-blue : #121212;
}

/* universal selectors */
* {
    text-align: center;
    background-color: var(--light-grey);
    color: var(--navy-blue);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* element selectors */
/* in the header */
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--grey-blue);
}

header a, header p, header span {
    background-color: var(--coral);
    color: var(--light-grey);
    padding: 5px;
}

a{
    color: black;
    text-decoration: none;
}

/* in the main */
h2 {
    padding: 20px;
    color: var(--navy-blue);
}

p{
    padding: 10px;
}

button{
    margin: 20px;
    background-color: var(--coral);
    border: 2px solid var(--grey-blue);
    color: var(--light-grey);
    width: 150px;
    height: 25px;
    z-index: 1;
}

button:hover{
    border: solid 4px var(--navy-blue);
}

button:active{
    border: 5px solid var(--navy-blue);
}

/* class selectors */
/* .answer-options{
    visibility: hidden;
    z-index: -1;
} */
